---
import type { GetStaticPaths } from "astro";
import PokemonCard from "@/components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@/interfaces/pokemon-llist.response";
import MainLayout from "@/layouts/MainLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const respuesta = await fetch(`https://pokeapi.co/api/v2/pokemon?limit=150`);
  const { results } = (await respuesta.json()) as PokemonListResponse;
  // console.log("🚀 ~ data:", data);
  return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const title = "Pokémon Static | Home";
const { page } = Astro.props;
// console.log("🚀 ~ page:", page);
---

<MainLayout title={title}>
  <h1 class="text-3xl font-bold">Listado de Pokémons</h1>
  <hr />

  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 gap-4 mt-5"
  >
    {page.data.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
  </section>

  <section class="flex mt-10 gap-2 items-center">
    <a
      class:list={[
        "btn",
        {
          disabled: !page.url.prev,
        },
      ]}
      href={page.url.prev}>Anteriores</a
    >
    <a
      class:list={[
        "btn",
        {
          disabled: !page.url.next,
        },
      ]}
      href={page.url.next}>Siguientes</a
    >

    <div class="flex flex-1"></div>

    <span class="select-none text-xl font-bold">Página {page.currentPage}</span>
  </section>
</MainLayout>

<style>
  .btn {
    @apply bg-blue-500 p-2 text-white rounded-lg select-none;
  }

  .disabled {
    @apply bg-gray-600 text-gray-400;
  }
</style>
